[dev]
# Microsoft TTS 服务地区
SPEECH_REGION=eastasia
# Microsoft TTS api key
SPEECH_KEY=xxxxxxxxxxxxx....


# OpenAI api key
OPENAI_API_KEY=sk-xxxxxxxxxxxxx....
# 用户ID 随便填，不和别人重复就行，自定义字母或数字组合
USER_ID=xxxxxxx123